:host {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}

github-picker {
  position: absolute;
  top: 100%;
  z-index: 150;
}

.overlay {
  display: block;
  height: 100vh;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 15;
}
