:host {
  display: block;
  //  Default width and height set to match canvas defaults
  // @see https://developer.mozilla.org/en-US/docs/Web/HTML/Element/canvas#attributes
  height: 150px;
  width: 300px;
}

canvas {
  outline: 1px dashed red;
}
