<mat-toolbar color="primary">
  <button mat-icon-button aria-label="Background color">
    <simple-sketch-color-picker (colorChange)="changeBackgroundColor($event)">
    </simple-sketch-color-picker>
    <span class="material-symbols-outlined">texture</span>
  </button>

  <button mat-icon-button aria-label="Paint color">
    <simple-sketch-color-picker (colorChange)="changePaintColor($event)">
    </simple-sketch-color-picker>
    <span class="material-symbols-outlined">palette</span>
  </button>
  <button mat-icon-button aria-label="Clear Canvas">
    <span class="material-symbols-outlined">restart_alt</span>
  </button>

  <span class="flex"></span>

  <mat-button-toggle-group aria-label="Mode" name="mode">
    <mat-button-toggle value="sketch" aria-label="Sketch" checked>
        <span class="material-symbols-outlined">brush</span>
    </mat-button-toggle>
    <mat-button-toggle value="erase" aria-label="Erase">
      <span class="material-symbols-outlined">ink_eraser</span>
    </mat-button-toggle>
  </mat-button-toggle-group>

</mat-toolbar>

<!-- <mat-label>Background color</mat-label>
  <input matNativeControl
      type="color"
      [ngModel]="backgroundColor$ | async"
      (input)[color]=""($event)">
<br>
<mat-label>Paint color</mat-label>
  <input matNativeControl
      type="color"
      [ngModel]="(paintColor$ | async)"
      [value]="(paintColor$ | async)"
      (input)="changePaintColor($event)"> -->
