:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  height: 100%;
}

main {
  display: contents;
}

simple-sketch-canvas {
  display: flex;
  flex: 1;
}


.filler-element {
  background: #3f3f3f;
  height: 10vh;
}
