<mat-toolbar color="primary">
  <mat-button-toggle-group
    aria-label="Mode"
    name="mode"
    class="mode-toggle"
    [ngModel]="mode$ | async"
    (ngModelChange)="changeMode($event)"
  >
    <mat-button-toggle [value]="Mode.SKETCH" aria-label="Sketch" checked>
      <span class="material-symbols-outlined">brush</span>
    </mat-button-toggle>
    <mat-button-toggle [value]="Mode.ERASE" aria-label="Erase">
      <span class="material-symbols-outlined">ink_eraser</span>
    </mat-button-toggle>
  </mat-button-toggle-group>

  <button
    mat-icon-button
    aria-label="Background color"
    class="z-index-elevated"
  >
    <simple-sketch-color-picker
      (colorChange)="changeBackgroundColor($event)"
      (click)="paintColorPicker.close()"
      #backgroundColorPicker
    >
    </simple-sketch-color-picker>
    <span class="material-symbols-outlined">texture</span>
    <span
      class="swatch"
      [style.backgroundColor]="backgroundColor$ | async"
    ></span>
  </button>

  <button
    mat-icon-button
    aria-label="Paint color"
    class="z-index-elevated"
    [disabled]="(mode$ | async) === Mode.ERASE"
  >
    <simple-sketch-color-picker
      (colorChange)="changePaintColor($event)"
      (click)="backgroundColorPicker.close()"
      #paintColorPicker
    >
    </simple-sketch-color-picker>
    <span class="material-symbols-outlined">palette</span>
    <span class="swatch" [style.backgroundColor]="paintColor$ | async"></span>
  </button>

  <button mat-icon-button aria-label="Clear Canvas" (click)="clearCanvas()">
    <span class="material-symbols-outlined">restart_alt</span>
  </button>

  <span class="flex"></span>
</mat-toolbar>
